.project-display{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.project-wrapper > div{
  margin-bottom: 1rem;
}


@media only screen and (min-width: 550px) {
  .project-display {
    height: 500px;
  }
}